.white{
    background-color: white;
}
.slate{
    background-color: rgb(93, 93, 93);
}
.purple{
    background-color: purple;
}
.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
input {
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
input:checked {
    outline: 3px solid black;
    border: 2px solid white;
    background-color: black;
}
.h-1112{
    height: 55vh;
}
.left-100{
    left: -100%;
}
.success{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}