@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*{
    font-family: 'Comfortaa', cursive;
}
.scrollHider::-webkit-scrollbar {
    display: none;
}
.scrollHider{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.Nav{
    height: 78vh;
}
.text-ssm{
    font-size: 10px;
}
.w-shoeImg{
    height: 11rem;
}
.FilteredShoeListNav{
    height: 50rem;
}
.FilterPage{
    top: -100%;
}