@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*{
    font-family: 'Comfortaa', cursive;
}
.scrollHider::-webkit-scrollbar {
    display: none;
}
.scrollHider{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.Nav{
    height: 78vh;
}
.text-ssm{
    font-size: 10px;
}
.w-shoeImg{
    height: 11rem;
}
.FilteredShoeListNav{
    height: 50rem;
}
.FilterPage{
    top: -100%;
}
.top-searchBar{
    top: 7.4rem;
    left: 50%;
    transform: translate(-50%,0);
}
.MostPopularShoeListNav{
    height: 46rem;
}
.selectedFilter{
    background-color: black;
    color: #fafafa;
}
.absoluteCenter{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cartNav{
    height: 38.3rem;
}
.rounded-t-4xl{
    border-radius: 3rem 3rem 0 0;
}